# Virtual environments
.venv/
env/
venv/

# Python caches
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
pip-wheel-metadata/

# Coverage reports
.coverage
coverage.xml
htmlcov/

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage artifacts
*.log

# Editor / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db


# .env
.env*
.env.local


# Personal Notes
Notes.md